<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Mis Metas</title>
        <meta name="description" content="Mis Metas">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>

        <h1>Mis Metas</h1>
        <h2>¡Conoceme!</h2>
        
        <p>
            Quisiera poder ejercer como un Publicista y desempeñarme
            en mi trabajo y por lo que hago
        </p>
            Quisiera sacar un curso universitario sobre la fotografia y poder especialisarme
            mucho mas en esa area
        <p>
            <h2>¡Conoceme!</h2>
            Poder encontrar a mi pareja idonea con la cual pueda compartir mis sentimientos
            sueños etc
        </p>
        
        <p>
            Para Mi empresa y poder ser de alto nivel
        </p>
        
       
        <p>
            Dejar algo para mi pais
        </p>

    </body>
</html>
<!--